section#contact.text-center
    .section-title
        h2 Contact us
        .short-line-yellow
        p Feel free for contacting us. We will reply your request as soon as possible !
    .contact-components
        .row
            .contact-item.col-12
                p.address #[i.fa.fa-envelope-o(aria-hidden="true")] giatrangrua@gmail.com
            .contact-item.col-12
                p.address #[i.fa.fa-phone(aria-hidden="true")] +84 169 840 4430
    ul#social.nav.nav-inline.justify-content-center
        li.nav-item #[a(href="#") #[i.nav-link.fa.fa-facebook(aria-hidden="true")]]
        li.nav-item #[a(href="#") #[i.nav-link.fa.fa-google-plus(aria-hidden="true")]]