include ../mixins/mixins
.team-item.col-12.col-sm-6
    a.mb-2(data-toggle="modal" data-target="#long_cv")
        img.mb-2.rounded-circle(src="images/Long_Port.png")
    ul.nav.flex-column.justify-content-center
        li.nav-item #[h5 Chu Hai Long]
        li.nav-item #[h5 Developer]
        ul.nav.justify-content-center
            li.nav-item #[i.nav-link.fa.fa-envelope(aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="chuhailong89@gmail.com")]
            li.nav-item #[i.nav-link.fa.fa-phone(aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="+84 98 446 200")]
            li.nav-item #[i.nav-link.fa.fa-facebook(aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="")]
.modal.fade#long_cv(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-body
                .container-fluid
                    .row.cv_header
                        .col-12
                            ul.float-sm-right
                                li #[span Phone:] (+84)0984 462 007
                                li #[span Email:] chuhailong89@gmail.com
                    .row
                        .cv_name.col-12
                            h1.display-4.text-uppercase.text-xs-center Chu Hai Long
                            h4.display-4.text-capitalize.text-xs-center.medium Developer
                    .row#cv_body
                        .col-12.summary
                            .title #[span.square(style="height: auto") &nbsp;] Summary
                            p.padleft35 I'm a software developer working at Phu My Industrial Zone, my current position is developer and maintenance Quality Controll system of Posco SS-Vina Co.,ltd.#[br]I am also care about web developer, you can see a my website project as #[a(href="http:/www.vungchuatravel.com" target="_blank") vungchuatravel.com]. This project base on HTML5, CSS3, bootstrap, Jquery and Laravel Php framework.
                    .row
                        .col-12.summary
                            .title #[span.square(style="height: auto") &nbsp;] Experiences
                            table.table.table-striped
                                tbody
                                    tr
                                        th(scope="row") 2012 - 2013
                                        td Nha Vung Tau Co.,ltd.#[br]#[span.font-italic.job IT Manager]
                                    tr
                                        th(scope="row") 2014 - Present
                                        td Posco ICT Viet Nam Co.,ltd.#[br]#[span.font-italic.job Software Engineer]
                                    tr
                                        th(scope="row") Freelancer
                                        td Vung Chua Travel Co.,ltd.#[br] #[span.font-italic.job Vung Chua Travel Website vungchuatravel.com]
                    .row
                        .col-12.summary
                            .title #[span.square(style="height: auto") &nbsp;] Skills & Education
                            .row.skill
                                .col-4
                                    .row.skill-group
                                        .col-12
                                            p.sub-title Professional Skills
                                        .col-12
                                            .row
                                                .col-12
                                                    .row
                                                        +showdot("HTML5",4)
                                                    .row
                                                        +showdot("CSS",3)
                                                    .row
                                                        +showdot("Javascript",4)
                                                    .row
                                                        +showdot("Laravel",4)
                                                    .row
                                                        +showdot("Java",3)
                                                    .row
                                                        +showdot("MySQL",3)
                                                    .row
                                                        +showdot("Oracle SQL",4)
                                    .row.skill-group
                                        .col-12
                                            p.sub-title Personal Skills
                                        .col-12
                                            .row
                                                +showdot("Creativity",4)
                                                +showdot("Teammate",3)
                                                +showdot("Organization",4)
                                .col-8
                                    .row
                                        .col-12
                                            p.sub-title Education
                                            table.table.table-striped
                                                tbody
                                                    tr
                                                        td Higher Diploma in Software Engineering#[br]#[span HaNoi Aptech Computer Education]
                                                        td(scope="row") 2008 - 2012