doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title CSS Amimated Rollovers
        link(rel="stylesheet" href="styles.css")
    body
        h1 Sample 01
        nav#sample01
            a.btn(href="#") Portfolio
            a.btn(href="#") Speaking
            a.btn(href="#") Courses
            a.btn(href="#") Articles
        h1 Sample 02
        nav#sample02
            a.btn(href="#") Portfolio
            a.btn(href="#") Speaking
            a.btn(href="#") Courses
            a.btn(href="#") Articles
        h1 Sample 03
        nav#sample03
            a.btn(href="#") Portfolio
            a.btn(href="#") Speaking
            a.btn(href="#") Courses
            a.btn(href="#") Articles
        h1 Gallery
        article#gallery
            a(href="#" style="top:40px; left:25px;"): img(src="images/thumb_01.jpg")
            a(href="#" style="top:40px; left:115px;"): img(src="images/thumb_02.jpg")
            a(href="#" style="top:40px; left:205px;"): img(src="images/thumb_03.jpg")
            a(href="#" style="top:40px; left:295px;"): img(src="images/thumb_04.jpg")
            a(href="#" style="top:130px; left:25px;"): img(src="images/thumb_05.jpg")
            a(href="#" style="top:130px; left:115px;"): img(src="images/thumb_06.jpg")
            a(href="#" style="top:130px; left:205px;"): img(src="images/thumb_07.jpg")
            a(href="#" style="top:130px; left:295px;"): img(src="images/thumb_08.jpg")
