#header.text-center
    .intro
        h1.text-uppercase.display-4.hidden-xs-down We are #[span.tr-span-highlight PnP Team]
        h1.text-uppercase.display-1.hidden-xs-up We are #[span.tr-span-highlight PnP Team]
        h4.text-uppercase A young developer team from Viet Nam
        a.btn.tr-btn-yellow.text-capitalize(href="#") Our Portfolio