doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Angled Header
        link(type="text/css", rel="stylesheet", href="styles.css")
    body
        header
            h1 Adding a little spice
            img(width="400", src="images/spices.png")
        article
            h2 Chili Powder
            p
                | Chili powder is the dried, pulverized fruit of one or more varieties of chili pepper, sometimes with the addition of other spices (also sometimes known as chili powder blend). It is used as a spice to add pungency or piquancy and flavor to dishes. In American English, the name is usually spelled "chili". In British English the spelling 'chilli' is used consistently.
            p
                | Chili powder blend is composed chiefly of chili peppers and blended with other spices including cumin, oregano, garlic powder, and sometimes salt. The chilis are most commonly either red chili peppers or cayenne peppers, which are both of the species Capsicum annuum; many types of hot pepper may be used, including ancho, jalapeño, New Mexico, and pasilla chilis. As a result of the various potential additives, the spiciness of any given chili powder is variable.
