extends pug/template
include pug/utilities/mixins
block content
    include pug/layout/home
    include pug/layout/work
    //include pug/layout/about
    include pug/layout/team
    include pug/layout/portfolio
    //include pug/layout/price
    include pug/layout/contact