section#home
    .container
        .row
            .col-md-12.col-sm-12
                h3 WEB DESIGN / WEB DEVELOPMENT
                h1 PNP TEAM
                hr
                a.smoothScroll.btn.btn-danger(href="#work") What we do
                a.smoothScroll.btn.btn-danger(href="#portfolio") Portfolio