-
    var pathImg = "images/portfolio/"
    var portfolios = [
        {
            "name": "esms_voice",
            "link" : "https://esms.vn/DichVu/goi-tu-dong-evoice",
            "img" : pathImg + "esms_page_voice.png",
            "cat" : "cut"
        },
        {
            "name": "esms_price",
            "link" : "https://esms.vn/Price/SMSPricing",
            "img" : pathImg + "esms_page_price.png",
            "cat" : "cut"
        },
        {
            "name": "esms_daily",
            "link" : "https://esms.vn/reseller",
            "img" : pathImg + "esms_page_daily.png",
            "cat" : "cut"
        },
        {
            "name": "esms_daily",
            "link" : "https://teraapp.net/agent",
            "img" : pathImg + "tera.png",
            "cat" : "cut"
        },
        {
            "name": "esms_daily",
            "link" : "https://teraapp.net/",
            "img" : pathImg + "tera_landing.png",
            "cat" : "cut"
        },
        {
            "name": "lab_flexbox_menu",
            "link" : "pug/lab/LayoutWithCssFlexbox/menus.html",
            "img" : pathImg + "lab_flexbox_menu.png",
            "cat" : "lab"
        },
        {
            "name": "lab_flexbox_holygrail",
            "link" : "pug/lab/LayoutWithCssFlexbox/holy-grail.html",
            "img" : pathImg + "lab_flexbox_holygrail.png",
            "cat" : "lab"
        },
        {
            "name": "lab_flexbox_card",
            "link" : "pug/lab/LayoutWithCssFlexbox/card-layout.html",
            "img" : pathImg + "lab_flexbox_card.png",
            "cat" : "lab"
        },
        {
            "name": "lab_angledheader",
            "link" : "pug/lab/AngledHeaders/",
            "img" : pathImg + "lab_angledheader.png",
            "cat" : "lab"
        },
        {
            "name": "lab_animating_background",
            "link" : "pug/lab/AnimatingBackgroundWithCss/",
            "img" : pathImg + "lab_animating_background.png",
            "cat" : "lab"
        },
        {
            "name": "lab_css_only_navigation",
            "link" : "pug/lab/CssOnlyNavigation/",
            "img" : pathImg + "lab_cssonlynavigation.png",
            "cat" : "lab"
        },
        {
            "name": "lab_pullquote",
            "link" : "pug/lab/PullQuote/",
            "img" : pathImg + "lab_pullquote.png",
            "cat" : "lab"
        },
        {
            "name": "lab_css_animated_rollover",
            "link" : "pug/lab/AnimatedRollovers/",
            "img" : pathImg + "lab_css_animated_rollover.png",
            "cat" : "lab"
        },
        {
            "name": "lab_customized_radiobutton",
            "link" : "pug/lab/CustomizedRadioButtons/",
            "img" : pathImg + "lab_customized_radiobutton.png",
            "cat" : "lab"
        },
        {
            "name": "lab_svg_rollover",
            "link" : "pug/lab/SvgRollover/",
            "img" : pathImg + "lab_svg_rollover.png",
            "cat" : "lab"
        },
        {
            "name": "lab_fullscreen_slider",
            "link" : "pug/lab/FullScreenSlider/",
            "img" : pathImg + "lab_fullscreen_slider.png",
            "cat" : "lab"
        },
        {
            "name": "lab_accordion_menu",
            "link" : "pug/lab/AccordionMenu/",
            "img" : pathImg + "lab_accordion_menu.png",
            "cat" : "lab"
        },
        {
            "name": "lab_transition_transform",
            "link" : "pug/lab/TransitionAndTransform/",
            "img" : pathImg + "lab_transition_transform.png",
            "cat" : "lab"
        },
        {
            "name": "lab_typing",
            "link" : "pug/lab/ClockAndTyping/typing.html",
            "img" : pathImg + "lab_typing.png",
            "cat" : "lab"
        },
        {
            "name": "lab_clock",
            "link" : "pug/lab/ClockAndTyping/clock.html",
            "img" : pathImg + "lab_clock.png",
            "cat" : "lab"
        },
        {
            "name": "lab_reactjs_rsvp",
            "link" : "pug/lab/ReactRsvp/",
            "img" : pathImg + "lab_reactjs_rsvp.png",
            "cat" : "reactjs"
        },
        {
            "name": "lab_reactjs_react_basic",
            "link" : "pug/lab/ReactBasic/",
            "img" : pathImg + "lab_reactjs_react_basic.png",
            "cat" : "reactjs"
        },
        {
            "name": "lab_reactjs_scoreboard",
            "link" : "pug/lab/ReactScoreBoard/",
            "img" : pathImg + "lab_reactjs_scoreboard.png",
            "cat" : "reactjs"
        },
        {
            "name": "mobile_smarttms",
            "link" : "pug/lab/Mobile_SmartTMS/",
            "img" : pathImg + "mobile_smarttms.png",
            "cat" : "mobile"
        },
        {
            "name": "mobile_smartyard",
            "link" : "pug/lab/Mobile_SmartYard/",
            "img" : pathImg + "mobile_smartyard.png",
            "cat" : "mobile"
        }
    ]
section#portfolio
    .container
        .row
            .col-md-12.col-sm-12
                .section-title
                    strong OUR PORTFOLIO
                    h1.heading.bold
                    hr
                .iso-section
                    ul.filter-wrapper.clearfix
                        +mix05("#","*","All",false)
                        +mix05("#",".cut","CUT HTML",true)
                        +mix05("#",".uiux","UI/UX",false)
                        +mix05("#",".reactjs","REACTJS",false)
                        +mix05("#",".mobile","MOBILE",false)
                        +mix05("#",".lab","LAB",false)
                    .iso-box-section.wow.fadeIn(data-wow-delay="0.9s")
                        .iso-box-wrapper.col4-iso-box
                            each val in portfolios
                                .iso-box.col-lg-4.col-md-4.col-sm-6(class=val["cat"])
                                    +mix04(val["img"], val["link"])