include ../utilities/mixins
section#work
    .container
        .row
            .col-md-12.col-sm-12
                .section-title
                    strong OUR SERVICES
                    h1.heading.bold  WHAT WE DO
                    hr
                +mixService("0.6s","UI / UX DESIGN",false)(class="icon-mobile medium-icon")
                    p Beaufitul UI / UX Design With Variety Formats And Good Structural Layers
                +mixService("0.9s","REACTJS",false)(class="icon-laptop medium-icon")
                    p Building Web Application Using Latest Modern Technology ReactJS
                +mixService("1.2s","MOBILE APP",false)(class="icon-mobile medium-icon")
                    p IOS / ANDROID Application
                +mixService("1.5s","WEB DESIGN",true)(class="icon-browser medium-icon")
                    p Clean Code, Responsive Design From Many Platform, Framework And CMS Like Wordpress, Laravel, CodeIgniter, Self MVC...
