doctype html
html(lang="en-US")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title LayoutWithCssFlexbox | Card Layout
        link(rel="stylesheet", href="scss/styles.css", type="text/css", media="all")
    body
        a.skip-link.screen-reader-text(href="#content") Skip to content
        header.masthead.clear
            .centered
                .site-branding
                    h1.site-title Flexbox Demo: Card Layouts
        main.main-area
            .centered
                section.cards
                    article.card
                        a(href="#")
                            figure.thumbnail
                                img(src="images/cropped/banana-wide.jpg", alt="A banana that looks like a bird")
                            .card-content
                                h2 The Banana Bird
                                p
                                    | This banana looks a lot like a bird, doesn't it? When originally posted there was some debate whether it was a hummingbird, a seagull, or a crow. I stand by my earlier statement that it is a banana.
                    article.card
                        a(href="#")
                            figure.thumbnail
                                img(src="images/cropped/boller.jpg", alt="Norwegian boller")
                            .card-content
                                h2 Norwegian Boller
                                p
                                    | Boller - or sweet wheat buns - is a favored snack and comfort food for Norwegians, especially enjoyed for childrens' birthdays or on a cold and rainy/snowy day coupled with hot cocoa.
                                p
                                    | One of the key ingredients of boller is cardamom - something that gives them a distinct aroma and gives them the more lengthy name "cardamom boller".
                    article.card
                        a(href="#")
                            figure.thumbnail
                                img(src="images/cropped/dinosaur-jacket.jpg", alt="A dinosaur wearing an aluminium jacket")
                            .card-content
                                h2 A Dinosaur and Its Jacket
                                p
                                    | They say dinosaurs had feathers. I prefer to think they were a bit more stylish than that, as proven by this dinosaur wearing a swanky aluminium coat.
                    article.card
                        a(href="#")
                            figure.thumbnail
                                img(src="images/cropped/boller-surprise.jpg", alt="Chocolate filled boller")
                            .card-content
                                h2 A Sweet Surprise
                                p
                                    | Oh yes: Sometimes when you bake boller, you put a piece of chocolate (usually dark) in the center before baking. That way when an unsuspecting recipient bites into the baked deliciousness they get a sweet surprise.
                    article.card
                        a(href="#")
                            figure.thumbnail
                                img(src="images/cropped/chocolate-frog.jpg", alt="Chocolate frog on oranges")
                            .card-content
                                h2 Chocolate Frogs Love Oranges
                                p
                                    | You know what's better than a chocolate covered caramel filled frog from Denmark? A chocolate covered caramel filled frog from Denmark served with juicy slices of orange.
                                p Did I mention I like oranges?

                    article.card
                        a(href="#")
                            figure.thumbnail
                                img(src="images/cropped/diving-bird.jpg", alt="A whiskey jack taking a dive")
                            .card-content
                                h2 Taking the Plunge
                                p
                                    | The Whiskey Jack is a surprisingly large bird that likes to eat food held up by tourists. In spite of what the image suggests, it does in fact have wings.
                    article.card
                        a(href="#")
                            figure.thumbnail
                                img(src="images/cropped/pool-cue-jenga.jpg", alt="Playing Jenga with pool cues")
                            .card-content
                                h2 The Best Game Ever Invented
                                p
                                    | On a recent trip to Europe my brothers and I invented a new game called "Pool Cue Jenga". It is the best game ever invented.
                                p
                                    | The rules are simple: You must use a pool cue to remove tiles. Only one cue can be used, and you can not use your fingers.