doctype html
head
    title Create an Accordion Menu with CSS - David Conner
    link(rel="stylesheet" href="styles.css")
body
    .tab-group
        .tab
            input#tab-one(type="radio" name="tabs")
            label(for="tab-one") Label One
            .tab-content
                p Some content tab 1
        .tab
            input#tab-two(type="radio" name="tabs")
            label(for="tab-two") Label Two
            .tab-content
                p Some content tab 2
        .tab
            input#tab-three(type="radio" name="tabs")
            label(for="tab-three") Label Three
            .tab-content
                p Some content tab 3
        .tab
            input#tab-four(type="radio" name="tabs")
            label(for="tab-four") Label Four
            .tab-content
                p Some content tab 4
