doctype html
html(lang="en")
    head
        title CSS playground - Create tooltip with CSS - David Conner
        link(rel="stylesheet" href="styles.css")
    body
        .wrap
            h1 Pure CSS Tooltips
            p
                | To create a tooltip just add the
                span.tool(data-tip="This is tooltips")  tool class and the
                span.tool(data-tip="Seriously, Another tooltip")  data-tip attribute