section#aboutus
    .container
        .section-title.text-center
            h2.title About us
            .short-line-yellow
        .about-content
            .row
                .content-left.col-12
                    img.img-fluid(src="images/portfolio-testimonial-image.png" alt="Generic placeholder image")
                .content-right.col-12
                    h4.title Who We Are
                    p A young team in Web & Mobile Development Industry. A team with both creative and technical desiration.
                    h4.title What we Do
                    p We design, develop website,web application and mobile application, make the most satisfied customers.