section#portfolios
    .container
        .section-title.text-center
            h2.title Our Portfolio
            .short-line-black
            p No words valuable more than...
        .portfolios-component
            .row.filter.text-center
                .col-10.offset-1
                    .row
                        a#action_filter_All.btn.tr-btn-transparent.col-12.active All
                        a#action_filter_WD.btn.tr-btn-transparent.col-12.col-sm-6 Website Design
                        a#action_filter_WV.btn.tr-btn-transparent.col-12.col-sm-6 Website Develop
                        a#action_filter_MpA.btn.tr-btn-transparent.col-12.col-sm-6 Multi-platform Application
                        a#action_filter_MA.btn.tr-btn-transparent.col-12.col-sm-6 Mobile Apllication
            .component
                .row
                    .portfolio-item.col-xs-6.col-md-3.WV
                        .hovereffect
                            img.img-fluid(src="images/vungchuatravel.com.png")
                            .overlay
                                h2 VungchuaTravel
                                a.info(href="http://www.vungchuatravel.com") Go
                    .portfolio-item.col-xs-6.col-md-3.WV
                        .hovereffect
                            img.img-fluid(src="images/esms_page_voice_screenshot.png")
                            .overlay
                                h2 ESMS - Voice
                                a.info(href="https://esms.vn/DichVu/goi-tu-dong-evoice") Go
                    .portfolio-item.col-xs-6.col-md-3.WV
                        .hovereffect
                            img.img-fluid(src="images/esms_page_daily_screenshot.png")
                            .overlay
                                h2 ESMS - DaiLy
                                a.info(href="https://esms.vn/reseller") Go
                    .portfolio-item.col-xs-6.col-md-3.WV
                        .hovereffect
                            img.img-fluid(src="images/esms_page_price_screenshot.png")
                            .overlay
                                h2 ESMS - Price
                                a.info(href="https://esms.vn/Price/SMSPricing") Go
                    .portfolio-item.col-xs-6.col-md-3.WV
                        .hovereffect
                            img.img-fluid(src="images/tera_screenshot.png")
                            .overlay
                                h2 ESMS - Tera DaiLy
                                a.info(href="https://teraapp.net/agent") Go
                    .portfolio-item.col-xs-6.col-md-3.WV
                        .hovereffect
                            img.img-fluid(src="images/tera_landing_screenshot.png")
                            .overlay
                                h2 ESMS - Tera Landing
                                a.info(href="https://teraapp.net/") Go