section#services
    .container
        .section-title.text-center
            h2.title Our Services
            .short-line-yellow
            p Not the best but The Service from hardest work
        .services-component.row
            .service-item.col-xs-12.col-sm-6.text-center
                i.fa.fa-file-image-o(aria-hidden="true")
                p.title.text-uppercase WEBSITE DESIGN
                p Beaufitul UI / UX Design with variety formats and good structure layers
            .service-item.col-xs-12.col-sm-6.text-center
                i.fa.fa-desktop(aria-hidden="true")
                p.title.text-uppercase WEBSITE DEVELOP
                p Clean Code, Fastest speed, SEO support from many platform, framework and CMS like Wordpress, Laravel, CodeIgniter, Self MVC...
            .hidden-xs-down.clearfix
            .service-item.col-xs-12.col-sm-6.text-center
                i.fa.fa-file-code-o(aria-hidden="true")
                p.title.text-uppercase MULTI-PLATFORM APPLICATION
                p Using the power of React, AngularJS framework for better, multi-platform applications.
            .service-item.col-xs-12.col-sm-6.text-center
                i.fa.fa-desktop(aria-hidden="true")
                p.title.text-uppercase MOBILE APPLICATION
                p Native/Hybrid Application with good User Experiences