include ../mixins/mixins
.team-item.col-12.col-sm-6.mb-3
    a(data-toggle="modal" data-target="#trung_cv")
        img.mb-2.rounded-circle(src="images/Trung_Port.png")
    ul.nav.flex-column.justify-content-center
        li.nav-item #[h5 Nguyen Duc Trung]
        li.nav-item #[h5 Developer]
        ul.nav.justify-content-center
            li.nav-item #[i.nav-link.fa.fa-envelope(aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="giatrangrua@gmail.com")]
            li.nav-item #[i.nav-link.fa.fa-phone(aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="+84 169 8404 430")]
            li.nav-item #[i.nav-link.fa.fa-facebook(aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="")]

.modal.fade#trung_cv(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-body
                .container-fluid
                    .row.cv_header
                        .col-12
                            ul.float-sm-right
                                li #[span Phone:] (+84)169 8404 430
                                li #[span Email:] giatrangrua@gmail.com
                    .row
                        .cv_name.col-12
                            .display-4.text-uppercase.text-center Nguyen Duc Trung
                                .display-4.text-capitalize.text-center.medium Developer
                    .row
                        .col-12.summary
                            .title #[span.square(style="height: auto") &nbsp;] Summary
                            p.padleft35 A Developer with over 7 years experiences in senior position developer for enterprise system. Have many experiences working with Manufacturing Execution System and Oracle ERP. Can design and develop website using modern technology and workflow. Studying and practicing how to manage team and projects. A person with great passion and enthusiasm in new technology.
                    .row
                        .col-12.summary
                            .title #[span.square(style="height: auto") &nbsp;] Experiences
                            table.table.table-striped
                                tbody
                                    tr
                                        th(scope="row") 2010 - 2014
                                        td Developer at POSCO ICT VN, Viet Nam #[br] #[span.font-italic.job  - Develop and Maintain M.E.S (Manufacturing Execution System) #[br] A Java Custom MVC Framework, using JSP for UI, Framework Spring and Strut for Routing and Communicate with Oracle Database #[br] - Develop Reports using Excel, Visual Basic and Oracle Databse #[br] - Develop new system using Xplatform and Glue Framework (Writen by Korean - tobesoft.com - using Java, ECMAScript)]
                                    tr
                                        th(scope="row") 2015 - Present
                                        td Developer, Assistant Manager at POSCO ICT VN, Viet Nam #[br] #[span.font-italic.job - Modify and Develop new Oracle Form using PL/SQL in Oracle ERP System #[br] - Monitor and Maintain sub system W.I.P (Work In Process) for Oracle ERP System #[br] - Research and Improve Business Process for Manufactoring System ]
                                    tr
                                        th(scope="row") 2016 - Present
                                        td Freelancer as Website Developer, Website Designer #[br] #[span.font-italic.job Self Study New Technology, Design and Workflow like PS, AI, AE, Gulp, React #[br] - Developing Website using modern advanced language & library like PUG, SASS, ECMA6, BOOTSTRAP, WORDPRESS]
                    .row
                        .col-12.summary
                            .title #[span.square(style="height: auto") &nbsp;] Skills & Education
                            .row
                                .skill.col-4
                                    .row.skill-group
                                        .col-12
                                            p.sub-title Design
                                        .col-12
                                            .row
                                                .col-12
                                                    .row
                                                        +showdot("ADOBE ILLUSTRATOR",3)
                                                    .row
                                                        +showdot("ADOBE PHOTOSHOP",2)
                                                    .row
                                                        +showdot("ADOBE AFTER EFFECT",2)
                                    .row.skill-group
                                        .col-12
                                            p.sub-title Front-end
                                        .col-12
                                            .row
                                                +showdot("HTML",5)
                                                +showdot("CSS",4)
                                                +showdot("SASS",4)
                                                +showdot("LESS",3)
                                                +showdot("BOOTSTRAP",5)
                                                +showdot("JAVASCRIPT",4)
                                                +showdot("REACT.JS",2)
                                                +showdot("ANGULARJS 2",2)
                                .col-8.education
                                    .row
                                        .col-12
                                            p.sub-title Education
                                            table.table.table-striped
                                                tbody
                                                    tr
                                                        td University of Natural Sciences, Ho Chi Minh City, Vietnam #[br] #[span Bachelor of Information Technology]
                                    .row
                                        .col-4
                                            .row
                                                .col-12
                                                    p.sub-title Back-end
                                                .col-12
                                                    .row
                                                        +showdot("JAVA",4)
                                                        +showdot("PHP",4)
                                                        +showdot("C#",3)
                                                        +showdot("VB.NET",3)
                                        .col-4
                                            .row
                                                .col-12
                                                    p.sub-title Database
                                                .col-12
                                                    .row
                                                        +showdot("Oracle",4)
                                                        +showdot("SQL Server",3)
                                                        +showdot("MySQL",3)
                                        .col-4
                                            .row
                                                .col-12
                                                    p.sub-title Mobile
                                                .col-12
                                                    .row
                                                        +showdot("Swift 3 - iOS",2)
                                                        +showdot("Java - Android",2)
                                    .row.skill-group
                                        .col-6
                                            .row
                                                .col-12
                                                    p.sub-title CMS & Office
                                                .col-12
                                                    .row
                                                        +showdot("Laravel",3)
                                                        +showdot("Wordpress",4)
                                                        +showdot("Microsoft Excel",5)
                                        .col-6
                                            .row
                                                .row
                                                    .col-12
                                                        p.sub-title Personal Skills
                                                    .col-12
                                                        .row
                                                            +showdot("Creativity",4)
                                                            +showdot("Leadership",3)
                                                            +showdot("Organization",4)
                                                            +showdot("Communicating English ",3)
                                                            +showdot("IT Technical English",5)