include ../mixins/mixins
section#team.text-center
    .container
        .section-title
            h2.title Meet The Team
            .short-line-black
        .team-component
            .row
                include team_trung
                include team_long