footer
    .container
        .row
            .col-md-12.col-sm-12
                p Copyright © Digital Team HTML5 Template | Design: #[a(href="http://www.tooplate.com" target="_parent") Tooplate]
                hr
                ul.social-icon
                    li: a.fa.fa-facebook.wow.fadeIn(href="#" data-wow-delay="0.3s")
                    li: a.fa.fa-twitter.wow.fadeIn(href="#" data-wow-delay="0.6s")
                    li: a.fa.fa-dribbble.wow.fadeIn(href="#" data-wow-delay="0.9s")
                    li: a.fa.fa-behance.wow.fadeIn(href="#" data-wow-delay="0.9s")
                    li: a.fa.fa-tumblr.wow.fadeIn(href="#" data-wow-delay="0.9s")