section#pricing
    .container
        .row
            .col-md-12.col-sm-12.text-center
                .section-title
                    strong 05
                    h1.heading.bold OUR PRICING
                    hr
            .col-md-4.col-sm-6
                .plan.plan-one.wow.bounceIn(data-wow-delay="0.3s")
                    .plan_title
                        i.icon-mobile.medium-icon
                        h3 BASIC
                        h2 $150 #[span per year]
                    ul
                        li 100 GB Cloud Storage
                        li 5 Pro Websites
                        li 10 Secured Emails
                        li 24-hour Support
                    button.btn.btn-warning Get it now
            .col-md-4.col-sm-6
                .plan.plan-two.wow.bounceIn(data-wow-delay="0.3s")
                    .plan_title
                        i.icon-desktop.medium-icon
                            h3 BUSINESS
                            h2 $260 #[span per year]
                    ul
                        li 200 GB Cloud Storage
                        li 10 Pro Websites
                        li 20 Secured Emails
                        li 30-Minute Support
                    button.btn.btn-warning Take this!
            .col-md-4.col-sm-6
                .plan.plan-three.wow.bounceIn(data-wow-delay="0.3s")
                    .plan_title
                        i.icon-desktop.medium-icon
                            h3 PROFESSIONAL
                            h2 $380 #[span per year]
                    ul
                        li 500 GB Cloud Storage
                        li 20 Pro Websites
                        li 40 Secured Emails
                        li Live Support
                    button.btn.btn-warning Buy Now