doctype html
head
    title Porfolio
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    link(rel="shortcut icon" href="images/favicon.ico")
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/styles.css")
body
    include regions/navigation
    .container-fluid
        include regions/header
        include partitials/service
        include partitials/portfolio
        include partitials/aboutus
        include partitials/team
        include partitials/contact
    script(src="js/lib/jquery.min.js")
    script(src="js/lib/tether.min.js")
    script(src="js/lib/bootstrap.min.js")
    script(src="js/script.js")




