/*Trung*/
.hero, #header {
  background-size: cover;
  height: 80vh;
  position: relative;
}
.hero:before, #header:before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: .8;
}
.hero .intro, #header .intro {
  padding: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tr-btn-yellow {
  background-color: #D3B113;
  color: #000;
}

.tr-btn-transparent {
  background-color: transparent;
  border: 1px solid white;
  color: black;
}
.tr-btn-transparent:hover {
  background-color: #E1F0F5;
  opacity: 0.5;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.section-yellow, #portfolios, #team {
  background-color: #D3B113;
  color: black;
}
.section-yellow .title, #portfolios .title, #team .title {
  color: #01080a;
}

.section-black, #services, #aboutus, #contact {
  background-color: #042E3A;
  color: #6eb7cf;
}
.section-black .title, #services .title, #aboutus .title, #contact .title {
  color: #bbdde8;
}

body {
  font-family: Roboto, Arial;
}

.navbar-toggler {
  color: #E1F0F5;
}

#header {
  color: #E1F0F5;
}
#header span {
  color: #D3B113;
  font-weight: 500;
}
#header a {
  margin-top: 10vh;
  color: #042E3A;
}

nav {
  background-color: rgba(55, 58, 60, 0.1);
}
nav a {
  color: #E1F0F5;
}
nav a:hover {
  color: white;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#services .service-item i {
  color: #D3B113;
  font-size: 3rem;
  margin-bottom: 1vh;
}
#services .service-item .title {
  opacity: 1;
}
#services .services-components {
  margin-top: 7vh;
}
#services .services-components a {
  color: #e1f0f5;
}
#services .services-components a p {
  opacity: 0.5;
}

#portfolios .portfolios-components .row {
  margin-top: 20px;
}
#portfolios .portfolios-components .portfolio-item {
  margin-bottom: 1vh;
}

#aboutus .about-content {
  margin-top: 7vh;
}

#team .team-components {
  margin-top: 4vh;
}

#contact .contact-components {
  margin-top: 4vh;
}
#contact .contact-components a {
  color: #E1F0F5;
}
#contact .contact-components i {
  font-size: 1.5rem;
  color: #D3B113;
}

#social {
  margin-top: 2vh;
}
#social a {
  color: #E1F0F5;
  font-size: 1.5rem;
}

.center-block, .short-line, .short-line-yellow, .short-line-black {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.short-line, .short-line-yellow, .short-line-black {
  content: "";
  border: 1.5px solid;
  width: 50px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.short-line-yellow {
  border-color: rgba(211, 177, 19, 0.5);
}

.short-line-black {
  border-color: rgba(4, 46, 58, 0.5);
}

.team-components img {
  margin-bottom: 2vh;
}
.team-components a {
  color: #042E3A;
}
.team-components a .job {
  color: rgba(4, 46, 58, 0.5);
}

html {
  font-size: 14px;
}

@media (min-width: 544px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 28px;
  }
}
