//COLORS
$body-background: #ffffff;
$site-blue: #00c6d7;

$home-color: #ffffff;

$about-background: #3B3B3B;
$about-color: #ffffff;
$about-active-tab: $site-blue;

$team-icon-hover-color: $site-blue;
$team-icon-color: #ffffff;
$team-desc-color: #ffffff;

$portfolio-group-color: #999999 ;
$portfolio-group-hover-color: $site-blue;

$pricing-button-color: #ffffff;
$pricing-button-hover-background: #3B3B3B;
$pricing-button-background-style1: $site-blue;
$pricing-button-background-style2: #ffa400;
$pricing-button-background-style3: #009988;

$contact-background: #3B3B3B;
$contact-color: #ffffff;
$contact-submit-color: $site-blue;
$contact-submit-hover-color: #000000;

$footer-icon-color: #808080;
$footer-icon-hover-color: $site-blue;

//TYPOGRAPHY
$font-stack-primary: 'Roboto', sans-serif;